@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-additive: var(--additive);
  --color-additive-foreground: var(--additive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #FFFCF0;
  --foreground: #111111;
  --primary: #111111;
  --primary-foreground: #FFFCF0;
  --secondary: #F0EDE0;
  --secondary-foreground: #111111;
  --muted: #F0EDE0;
  --muted-foreground: #555555;
  --accent: #E0DAC5;
  --accent-foreground: #111111;
  --destructive: #C33C3C;
  --border: #E0DED0;
  --ring: #D0CCC0;
}

[data-theme='dark'] {
  --background: #111111;
  --foreground: #FFFCF0;
  --primary: #FFFCF0;
  --primary-foreground: #111111;
  --secondary: #222222;
  --secondary-foreground: #FFFCF0;
  --muted: #222222;
  --muted-foreground: #CCCCCC;
  --accent: #333333;
  --accent-foreground: #FFFCF0;
  --destructive: #FF6B6B;
  --border: #444444;
  --ring: #555555;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }
}
