---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Hey, I'm Shubham — I like tech stuffs like  self-hosting tools, and learning about Linux, DevOps, and InfoSec. This site is a small space where I share notes, projects, and experiments.
        </p>
        <p>
          Outside of tech, I love exploring Japanese culture and trying to stay consistent with fitness and training.
        </p>
        <p>
         <a href="https://drive.google.com/file/d/1tJ8UL2O-uXmAu4X7N9L_Aq08xGeS4TiH/view?usp=drive_link" target="_blank">
  View My Resume
</a>

        </p>
      </div>
    </div>
  </section>
</Layout>
